<div class="input-container">
  <div class="hero">
    <h1>BrandTalk</h1>
    <p>What's poppin' with your brand?</p>
  </div>
  {{input type="text" value=query action="search" placeholder="Search for a name, user, brand, hashtag, or whatever."}}
</div>
<div class="tweets wrapper">
  <div class="grid">
    <div class="col-6">
      <h2>:)</h2>
      <br />
      {{#each tweet in happyTweets}}
          {{ tweet-item tweet=tweet }}
      {{/each}}
    </div>
    <div class="col-6">
      <h2>:'(</h2>
      <br />
      {{#each tweet in sadTweets}}
          {{ tweet-item tweet=tweet }}
      {{/each}}
    </div>
  </div>
</div>
