.brand-search {
  input {
    @include transition(all);
    margin: 0 20%;
    padding: $line-height;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
  }

  .tweets {
    @include transition(all);
    opacity: 0;
    padding-top: $search-input-height + $line-height*2;
    visibility: hidden;
  }

  &.searching {

    input {
      margin: 0 0 $line-height*2;
      top: 0;
      transform: none;
      width: 100%;
    }

    .tweets {
      opacity: 1;
      visibility: visible;
    }
  }
}
