.brand-search {

  .input-container {
    @include transition(all);
    margin: 0 20%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
  }

  .hero {
    margin-bottom: $line-height;
  }

  input {
    padding: $line-height;
    text-align: center;
    width: 100%;
  }

  .tweets {
    @include transition(all);
    opacity: 0;
    padding-top: $search-input-height + $line-height*2;
    visibility: hidden;

    h2 {
      text-align: center;
    }
  }

  &.searching {

    .input-container {
      @include transition(all);
      margin: 0 0 $line-height*2;
      top: 0;
      transform: none;
      width: 100%;
    }

    .hero {
      @include transition(all);
      display: none;
      visibility: collapse;
    }

    .tweets {
      @include transition(all);
      opacity: 1;
      visibility: visible;
    }
  }
}
