.tweet-item {
  @include transition(all);
  background: #fff;
  border-bottom: 4px solid #ddd;
  margin-bottom: $line-height*2;
  padding: $line-height*2 $line-height;

  &.new {
    @include transition(all);
    transform: scale(0);
  }
}
