$screen-width-min: 300px;
$screen-width-xs: 360px;
$screen-width-sm: 480px;
$screen-width-md: 768px;
$screen-width-lg: 1024px;
$screen-width-xl: 1280px;
$screen-width-xxl: 1440px;
$screen-width-max: 1920px;
