{{input type="text" value=query action="search"}}
<h1>Results</h1>
<div class="grid">
  <div class="col-6">
    <h2>Happy</h2>
    {{#each tweet in happy}}
      <div>
        {{ tweet.text }}
      </div>
      <br />
      <br />
    {{/each}}
  </div>
  <div class="col-6">
    <h2>Sad</h2>
    {{#each tweet in sad}}
      <div>
        {{ tweet.text }}
      </div>
      <br />
      <br />
    {{/each}}
  </div>
</div>
